<!--  for large screen-->

<mat-toolbar fxShow.gt-sm="true" fxHide.lt-md="true" color="primary" >

  <mat-nav-list fxLayout>
    <a   mat-list-item routerLink="/home">
      Omegle <mat-icon>videocam</mat-icon> Zoom
    </a>
  </mat-nav-list>
  <div fxFlex="80"></div>
  <mat-nav-list>
    <a mat-list-item *ngIf="showZoomRoute"  routerLink="/omegle"><mat-icon>video_call</mat-icon>  Call Someone You Dont Know?</a>
    <a mat-list-item *ngIf="showOmegleRoute" routerLink="/zoom"><mat-icon>video_call</mat-icon>  Call Someone You Know?</a>

  </mat-nav-list>

</mat-toolbar>



<!--  for mobile screen-->
<mat-toolbar  fxShow.lt-md="true" fxHide.gt-sm="true" color="primary" fxLayoutAlign="center">

  <mat-nav-list  fxLayout fxLayoutAlign="center" routerLink="/home" >
    <a   mat-list-item>
      Omegle <mat-icon>videocam</mat-icon> Zoom
    </a>
  </mat-nav-list>
</mat-toolbar>

